.Header{
    display: flex;
    justify-content: space-between;
}

.Header img{
    margin-top: 10px;
    margin-left: 10px;
}


.ButtonHeader{
    margin-top: 8px;
}

.BouttonConnexion{
    padding: 7px;
    margin-right: 5px;
    width: 90px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold; 
    border-radius: 8px;
    background-color: #C59535;
}

.BouttonDeconnexion{
    padding: 7px;
    width: 120px;
    margin-right: 10px;
    background-color: #980808;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
}