.ContainerRecord{
    padding-bottom: 50px;
}

.timerButton{
    text-align: center;
}

.timer{
    padding: 10px; 
    width: 300px;
    margin: auto;
    margin-top: 20px;
    color: #C59535;
    font-family: 'zombie';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: solid 4px#C59535;
}


.timerButton1{
    padding: 10px;
    background-color: #980808;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 10px;
}

.timerButton2{
    padding: 10px;
    background-color: #C59535;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    border-radius: 10px;
}
.timerButton3{
    padding: 10px;
    background-color: #980808;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.record{
    margin: 20px 0px;
    border-top : solid 4px #C59535;
    border-bottom : solid 4px #C59535;
    background-color: #4A4A4A;                  
}

.recordtitle ul{    
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}


.recordtitle ul li{ 
    padding:15px 0px;
    font-family: 'Zombie';
    font-weight: bolder; 
    color: #ffffff; 
    display: flex;
    flex-direction: row;                          
}

.recordtitle ul li:nth-child(3){
    width: 20px;
}

.recordplayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    padding: 0 10px;
}

.recordplayer li{
    list-style-type: none; 
    font-family: 'Zombie';
    font-weight: bolder;
    display: flex;
    justify-content:space-between;  
    align-items: center;
    border-radius:10px;
    width: 100%;
}

.recordplayer a{
  padding-right: 10px;
}

.recordplayer li span:nth-child(2){
   width: 100px;
   text-align: center;

}

.recordplayer:nth-child(2) li{
    background-color: rgba(197, 149, 53);
}

.recordplayer:nth-child(3) li{
    background-color: rgba(197, 149, 53, 0.7);
}

.recordplayer:nth-child(4) li{
    background-color: rgba(197, 149, 53, 0.4);
}

.recordplayer:nth-child(5) li, .recordplayer:nth-child(6) li, .recordplayer:nth-child(7) li, .recordplayer:nth-child(8) li{
    background-color: rgba(197, 149, 53, 0.2);
}

.recordplayer li span{
    color: #ffffff;
    font-family: 'Quicksand';
    margin: 10px 10px;
}
