/* TRANZIT */

.ContainerSecret{
    padding-bottom: 70px;
}

.secrettranzit {
    margin: 0 20px;
}

.SommaireButton{
    margin: auto;
    display: block;
    padding: 10px;
    width: 170px;
    background-color: #980808;
    color: #ffffff;
    font-family: 'Quicksand';
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
}


/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.modal-content {
  background-color: #242424;
  position: fixed;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  border: solid 2px #ffffff;
}

.close {
  position: relative;
  right: 0%;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #C59535;
}

.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-content ul li {
  margin-bottom: 10px;
  background-color: #4A4A4A;
  border-radius: 20px;
  padding: 5px;
}

.modal-content ul li a {
  color: #ffffff;;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: 'Zombie';
}



.secrettranzit h2{
    color: #C59535;
    font-family: 'Zombie';
    margin-bottom: 10px; 
    font-size: 27px; 
}

.secrettranzit h3{
    color: #C59535;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 19px; 
    margin-bottom: 10px;  
}

.secrettranzit p{
    color: #9C9C9C;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500; 
    margin-bottom: 20px;  
}

.turbineimage{
    float: right;
    border: solid 4px #C59535;
    margin: 6px;
}

.avogadroimage{
    float: left;
    border: solid 4px #C59535;
    margin-right: 15px;
}
