/* TRANZIT */

.ContainerSecret{
    padding-bottom: 20px;
}

.secrettranzit {
    margin: 0 30px;
}

.secrettranzit h2{
    color: #C59535;
    font-family: 'Zombie';
    margin-bottom: 10px; 
    font-size: 27px; 
}

.secrettranzit h3{
    color: #9C9C9C;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 16px; 
    margin-bottom: 10px;  
}

.secrettranzit p{
    color: #9C9C9C;
    font-size: 13px;
    font-family: 'Montserrat';
    font-weight: 500; 
    margin-bottom: 20px;  
}

.turbineimage{
    float: right;
    border: solid 4px #C59535;
    margin: 6px;
}

.avogadroimage{
    float: left;
    border: solid 4px #C59535;
    margin-right: 15px;
}
