#img1 {
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 4px;
}

#img2 {
    width: 50%;
    display: block;
    margin: auto;  
}

.modalSign{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.modalSign.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}
  
.modalSign.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.modalSign-content{
    padding: 20px;
    height: 300px;
    border-radius: 10px;
    width: 300px;
    font-family: 'Montserrat';
    background-color: #242424;
    border: solid 4px #C59535;
    color: #ffffff;
}
.modalSign-content span{
    font-size: 20px;
}

.modalSign-content label {
    display: block;
    width: 100%;
}

.modalSign-content input {
    width: 97%;
    padding: 2px;
    margin-top: 5px;
    border: solid 4px #ffffff;
    color: #ffffff;
    font-weight: bold;
    background-color: #C59535;
}

.modalSignEmail{
    margin-top: 10px;
}

.modalSignPsw{
    margin-top: 20px;
}

.modalSignButton{
  padding: 10px;
  color: #ffffff;
  background-color: #C59535;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}

.Validation{
    color: #980808;
    font-weight: bold;
    margin-top: 5px;
}